.container {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 70px;
    color: #0a0a0a;
    transition: all 300ms ease;
}

.containerTop {
    color: #fff;
    background-color: transparent;
}

.wrapper {
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;
    /*background-color: yellow;*/
}

.logoWrapper {
    float: left;
    margin-top: 22.5px;
    cursor: pointer;
}

.logoWrapper svg {
    width: 200px;
    height: 22px;
}

.logoTopWrapper svg path{
    fill:#fff;
}

.logoWrapper img {
    width: auto;
    height: 70px;
    cursor: pointer;
}

.menuWrapper {
    float: right;
    overflow: hidden;
}

.menuWrapper svg{
    width:14px;
    height:14px;
    z-index: 1;
    position: relative;
    vertical-align: middle;
}

.menuTopWrapper svg path{
    fill:#fff
}


.menuWrapper ul li {
    float: left;
    padding: 0 20px;
    height: 70px;
    line-height: 70px;
    /*color:#0a0a0a;*/
    font-size: 15px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
}

.searchImage {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    z-index: 1;
    position: relative;
}

.menuWrapper ul li .menuFontCell {
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
}

.menuWrapper ul li .menuHoverCell {
    position: absolute;
    left: 50%;
    bottom: -100%;
    width: 100%;
    height: 100%;
    /*border:3px solid #fc6215;*/
    background-color: #fc6215;
    transition: all 300ms ease;
    z-index: 0;
    transform: translateX(-50%);
}

.menuWrapper ul li:hover .menuHoverCell {
    bottom: 0;
}

.menuWrapper ul li:hover .menuFontCell {
    color: #fff;
}

.btnWrapper {
    height: 70px;
}

.btnWrapper > span {
    display: inline-block;
    paddding: 10px 0;
    border: 3px solid #fc6215;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    /*box-sizing: content-box;*/
}

.btnFontWrapper {
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
    font-size: 15px;
}

.btnHoverWrapper {
    position: absolute;
    left: 50%;
    bottom: -100%;
    width: 200%;
    height: 100%;
    /*border:3px solid #fc6215;*/
    background-color: #fc6215;
    transition: all 300ms ease;
    z-index: 0;
    transform: translateX(-50%);
}

.btnWrapper > span:hover .btnHoverWrapper {
    bottom: 0px
}

.btnWrapper > span:hover .btnFontWrapper {
    color: #fff
}

