.container {
    position: relative;
    width: 100%;
    padding: 200px 0 0 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container .wrapper > h1 {
    color: #fefefe;
    text-align: center;
    font-size: 60px;
}

.container .wrapper > p {
    color: #fefefe;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.container .triangle {
    border-left: 700px solid #fff;
    border-top: 150px solid transparent;
    border-right: 700px solid #fff;
    width: 0%;
    margin-top: 200px;
}

.safeIntroContainer {
    margin: 100px 0;
}

.safeIntroContainer > h1 {
    /*color: #fefefe;*/
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
}

.safeIntroContainer > p {
    color: #247ae2;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.safeCellContainer {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
    cursor: pointer;
}

.safeCellContainer:after{
    content: '';
    display: block;
    clear: both;
}


.safeCellContainer ul li {
    float: left;
    height: 400px;
    width: 33.33%;
    padding: 0px 10px;
    position: relative;
}

.bgImage {
    width: calc(100% - 20px);
    height: 100%;
    position: absolute;
    left: 10px;
    top: 0;
    z-index: -1;
}

.safeCellFontWrapper{
    padding:25px;
    height:100%;
    position: relative;
}

.safeCellFontWrapper > p {
    color: #c6c6c6;
    font-size: 15px;
    font-weight: 600;
}

.safeCellFontWrapper > h1 {
    color: #fefefe;
    font-size: 30px;
    margin-top: 20px;
}

.safeCellContainer ul li:hover .moreInfoCell > span{
    margin-right: 13px;
}

.safeCellContainer ul li:hover  .moreInfoCell > span .bottomLine{
    bottom: -11px;
}




