html,body {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

*, *:before, *:after {
    /*box-sizing: inherit;*/
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    /*background: yellow;*/
}

a{
    line-height:inherit;
    color:#247ae2;
    cursor:pointer
}